<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <link rel="stylesheet" type="text/css" href="css/initialize.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
   <script type="text/javascript">        (function () {            var sUserAgent = navigator.userAgent;            if (sUserAgent.indexOf('Android') > -1 || sUserAgent.indexOf('iPhone') > -1 || sUserAgent.indexOf('iPad') > -1 || sUserAgent.indexOf('iPod') > -1 || sUserAgent.indexOf('Symbian') > -1) {
                location.href = 'http://www.gzwolf.com/lp/m_lp';            } else {
            }        })();    </script>
    <body>
        <div class="banner">
            <!-- 头部 -->
            <header>
                <div class="header-show">
                    <div class="logo">
                        <img src="images/indexlogo.png" alt="" />
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="http://www.gzwolf.com/gzwolf/">沃弗首页</a></li>
                            <li>| </li>
                            <li>联系电话：4009615377</li>
                            <!-- <li class="btn-input"><input type="button" value="注册"/></li>
                            <li class="btn-login"><input type="button" value="登陆" /></li> -->
                        </ul>
                    </div>
                </div>
            </header>
        </div>
        <div class="choice">
            <div class="choicehd">
                <h1>选择最适合你的产品</h1>
                <h2>Select a product</h2>
            </div>
            <div class="choiceDown">
                <ul>
                    <li>
                        <span><a href="javascript:;"><img src="images/choice1.png" alt="" /></a></span>
                        <span class="btn"><a href="enroll.html"><img src="images/choicebtn1.png" alt="" /></a></span>
                    </li>
                    <li>
                        <span><a href="javascript:;"><img src="images/choice2.png" alt="" /></a></span>
                        <span class="btn"><a href="enroll.html"><img src="images/choicebtn2.png" alt="" /></a></span>
                    </li>
                    <li>
                        <span ><a href="javascript:;"><img src="images/choice3.png" alt="" /></a></span>
                        <span class="btn"><a href="enroll.html"><img src="images/choicebtn3.png" alt="" /></a></span>
                    </li>
                </ul>
            </div>
            
            
        </div>
        <div class="function">
                <div class="functionhd">
                    <h1>功能强大的电商ERP管理系统</h1>
                    <h2>ERP Management system</h2>
                </div>
                <div class="functionDown">
                    <ul>
                        <li>
                            <span><img src="images/function1.png" alt="" /></span>
                            <span><h3>订单管理</h3></span>
                            <span><p>全平台订单自动导入，智能合并拆分，异常订单自动过滤，匹配物流信息，支持电子面单，批量打单，极速出库。</p></span>
                        </li>
                        
                        <li>
                            <span><img src="images/function2.png" alt="" /></span>
                            <span  class="red"><h3>库存管理</h3></span>
                            <span><p>全平台秒级库存同步，多仓多店库存管理，货位管理，库存预警。</p></span>
                        </li>

                        <li>
                            <span><img src="images/function3.png" alt="" /></span>
                            <span class="purple"><h3>产品管理</h3></span>
                            <span><p>商品信息管理分类，商品自定义，商品分析，包装管理，条码打印。</p></span>
                        </li>

                        <li>
                            <span><img src="images/function4.png" alt="" /></span>
                            <span class="green"><h3>采购管理</h3></span>
                            <span><p>采购入库，订单跟踪，在途库存显示，采购分析，智能补货。</p></span>
                        </li>
                    </ul>
                    <ul>
                        

                        <li>
                            <span><img src="images/function5.png" alt="" /></span>
                            <span  class="red"><h3>报表管理</h3></span>
                            <span><p>自定义配置报表，数据字段的拖拽搭配，自定义打印格式的设置，各功能模块的统计报表。</p></span>
                        </li>

                        <li>
                            <span><img src="images/function6.png" alt="" /></span>
                            <span class="yellow"><h3>财务管理</h3></span>
                            <span><p>与专业财务系统对接，物流公司对账，支付宝对账，与利润统计，财务报表。</p></span>
                        </li>
                        <li>
                            <span><img src="images/function7.png" alt="" /></span>
                            <span class="brown"><h3>售后管理</h3></span>
                            <span><p>售后退货处理，售后退款处理，售后截单功能,售后查询报表。</p></span>
                        </li>
                        
                        <li>
                            <span><img src="images/function8.png" alt="" /></span>
                            <span><h3>更多功能</h3></span>
                            <span><p style="text-align:center;">支持个性化定制更多功能。</p></span>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="superiority">
           
        </div>
        <div class="serve">
           <div class="servebtn">
               <a href="enroll.html"><img src="images/askfor.png" alt="" /></a>
           </div>
        </div>
        <footer>
            <div class="footerContent">
                <div class="footerContentShow">
                    <ul>
                    <li>
                        <h4>杭州总部</h4>
                        <p>地址：杭州市余杭区海创大厦B座三楼</p> 
                        <p>电话：4006185353</p>      
                    </li>
                    <li>
                        <h4>宁波运营中心</h4>
                        <p>地址：宁波江东区百丈东路787号包商大厦A1203</p> 
                        <p>手机：方琳  15088628355</p>      
                    </li>
                    <li>
                        <h4>义乌运营中心</h4>
                        <p>地址：义乌市国际商贸城五区8街70724-70727号(106号门旁)</p> 
                        <p>手机：王娟 18657944182</p>      
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>厦门运营中心
</h4>
                        <p>地址：福建省厦门市莲前街道前埔东路579号福建光电大厦</p><p>旁4号电梯3楼龙席电商</p> 
                        <p>手机：郭树根 13027927888</p>
                        <p>电话：0592-3783957</p>      
                    </li>
                    <li>
                        <h4>深圳运营中心</h4>
                        <p>地址：广州深圳南山区南山大道1039-5号枫叶城市酒店</p><p>天信中心301室</p> 
                        <p>手机：徐甜 13735887304</p>      
                    </li>
                    <li>
                        <h4>广州运营中心</h4>
                        <p>地址：广东省广州市天河区思诚路宏太智慧谷11-25号4号楼301室</p> 
                        <p>手机：黄楚君 18144880979</p>    
                        <p>电话：020-85167410</p>  
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>天津运营中心</h4>
                        <p>地址：天津市滨海新区开发区第二大街泰达MSD-G112A层</p> 
                        <p>手机：李国院 18038153825</p>
                        <p>电话：022-60303666</p>      
                    </li>
                    <li>
                        <h4>湖州运营中心</h4>
                        <p>地址：湖州市吴兴区吴兴大道2699号中国童装城南大门3楼</p> 
                        <p>电话：魏坤 18367680831</p>      
                    </li>
                    <li>
                        <h4>嘉兴运营中心</h4>
                        <p>地址：海宁市海宁皮革城网商大厦2105</p> 
                        <p>手机：杨鑫鑫 13736118651</p>  
                        <p>电话：0573-87261205</p>    
                    </li>
                </ul>
                </div>
                
            </div>
            <div class="footerDown">
            <div class="footerDownShow">
                <ul>
                    <li>
                        <h1>市场合作与联系</h1>
                        <h6>记者采访、约稿、广告、品牌联合、市场合作</h6>
                        <span>
                            <i><img src="images/footer1.png" alt="" /></i>
                            <em>
                                <p class="bigtext">客服热线：</p>
                                <p>4009615377 (周一至周六 9:00-18:00)</p>
                            </em>
                        </span>
                        <div class="box">
                            
                        </div>
                        <span>
                            <i><img src="images/footer2.png" alt="" style="margin-top:12px;"/></i>
                            <em>
                                <p class="bigtext">客服邮箱：</p>
                                <p>kehu@loonxi.com</p>
                            </em>
                        </span>
                    </li>
                    <li>
                        <h1>市场合作与联系</h1>
                        <h6>记者采访、约稿、广告、品牌联合、市场合作</h6>
                        <span>
                            <i><img src="images/footer1.png" alt="" /></i>
                            <em>
                                <p class="bigtext">客服热线：</p>
                                <p>4009615377 (周一至周六 9:00-18:00)</p>
                            </em>
                        </span>
                        <div class="box">
                            
                        </div>
                        <span>
                            <i><img src="images/footer2.png" alt="" style="margin-top:12px;"/></i>
                            <em>
                                <p class="bigtext">客服邮箱：</p>
                                <p>kehu@loonxi.com</p>
                            </em>
                        </span>
                    </li>
                    <li>
                        <h1>市场合作与联系</h1>
                        <h6>记者采访、约稿、广告、品牌联合、市场合作</h6>
                        <span>
                            <i><img src="images/footer1.png" alt="" /></i>
                            <em>
                                <p class="bigtext">客服热线：</p>
                                <p>4009615377 (周一至周六 9:00-18:00)</p>
                            </em>
                        </span>
                        <div class="box">
                            
                        </div>
                        <span>
                            <i><img src="images/footer2.png" alt="" style="margin-top:12px;"/></i>
                            <em>
                                <p class="bigtext">客服邮箱：</p>
                                <p>kehu@loonxi.com</p>
                            </em>
                        </span>
                    </li>
                </ul>
            </div>
                
            </div>
        </footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3d9f9bb85e5b6ee1cef41943f116ac06";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


    </body>
</html>